{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}{% endblock title %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  </head>

  <body class="bg-light">
    <nav class="navbar navbar-expand-lg sticky-top bg-white border border-end">
      <div class="container">
        <a class="navbar-brand" href="#"><img src="{% static 'img/logo.png' %}" alt="logo" width="150"></a>
        <div class="justify-content-end" id="navbarNav">
          <ul class="d-flex flex-row navbar-nav">
            <li class="mx-2 nav-item">
              <a class="btn btn-primary fw-bold" aria-current="page" href="#">로그인</a>
            </li>
            <li class="mx-2 nav-item">
              <a class="nav-link text-primary fw-bold" href="#">가입하기</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="col-8 m-auto">
      {% block content %}{% endblock content %}
    </div>
  </body>

</html>