<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로또 번호 생성기</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body>
  <div class="my-5 p-4 container bg-info text-center rounded-2">
    <h1 class="mb-5 p-3 fw-bold bg-white rounded-2">로또 번호 생성기</h1>
    <div class="p-3 bg-primary rounded-2">
      <div class="px-0 container-fluid">
        {% for lotto in lottos %}
        <div class="m-2 p-0 row d-flex justify-content-between display-4 fw-bold bg-white rounded-2">
          <div class="p-0 col-9 d-flex justify-content-around align-items-center">
            {% for l in lotto.0 %}
            <span class="" style="width: 4rem;">{{ l }}</span>
            {% endfor %}
          </div>
          {% if lotto.1 == 0 %}
          <div class="m-1 p-0 col-2 text-bg-danger rounded-3">꽝</div>
          {% else %}
          <div class="m-1 p-0 col-2 text-bg-success rounded-3">{{lotto.1}}등!</div>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</body>

</html>